body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255) !important;
}
.ui.card {
  background-color: transparent !important;
  border-style: none !important;
  box-shadow: none !important
}

.eleven.wide.column {
  flex: 1 !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body > .grid {
    height: 20vh;
}

.column {
    /* max-width: 450px;   */
}

.page-login {
    padding : 30vh;
}

.map{
  padding:0;
  margin:0;
}

.app-container{
  background-color: #005688  ;
  width: 100%;  
  height: 100vh;
}

.eleven {
  display: none;
  flex: 2 !important;
  background-color: rgba(0, 255, 255, 0);
}

.eleven.wide.column {
  flex: 2 !important;
}

.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
  padding: 1em;
  flex: 2 !important;
}

.ui.celled.grid>.column:first-child, .ui.celled.grid>.row>.column:first-child {
  -webkit-box-shadow: none;
  box-shadow: none;
  flex: 2.5 !important;
  height: 60vh;
}

.segment {
  background-color: rgba(0, 255, 255, 0) !important;
  border-style: none !important;
}

.ui.celled.grid {
  width: 100%;
  margin: 1em 0;
  border-style: none !important;
  box-shadow: none !important;
}

.ui.celled.grid>.row {
  width: 100%!important;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui.segment { 
  border-style: none !important;
  background-color: transparent !important;
}

.ui {
  display: flex;
  clear: both;
}

.ui.container {
  border-style: none !important;
  width: 100vw !important;
  height: 100vh !important;
}

#info-div{
  overflow: scroll;
  height: 41vh;
  position: relative;
  flex: 1 !important;
}

.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column {
  padding: 1em;
  flex: 1 !important;
} 

#main-div{
  padding: 0;
  position: relative;
  top: 0;
}

.row {
  position: relative;
  min-width: 30vw ;
  display: flex !important;
}

#saved-journeys{
  overflow: scroll;
  height: 800px
}

.top-layer-flex-container {
  position: fixed;
  /* top: 20vh; */
  left: 0;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-style: solid;
}

.flex-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 20vh;
  height: 100vh !important;
  margin-top: 1vh;
  align-items: center;
  justify-content: center;
}

.flex-item {
  flex: 1;
  flex-basis: 20%;
  min-width: 60vw;
  border-style: solid;
}

.five {
  overflow: auto !important;    
  flex: 1 !important;
}